/* Start Single-Leadr */
.single-leadr {
  @include main-padding;

  background-image: url(/images/slider-image2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 510px;
  .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50%;
    margin: auto;
    height: 50vh;
    justify-content: center;
    h3 {
      color: #333;
      font-size: 20px;
      margin: 0;
      font-family: 'Cairo';
      font-weight: bold;
    }
    h1 {
      color: #f79427;
      font-weight: bold;
      font-size: 60px;
      margin: 0;
    }
    p {
      margin: 7px 0;
      line-height: 1.7;
    }
    button {
      width: fit-content;
      padding: 15px 25px;
      border: none;
      outline: none;
      color: white;
      background-color: #333;
      border-radius: 5px;
      transition: $main-transition;
      &:hover {
        background-color: $main-color;
      }
    }
  }
}
/* End Single-Leadr */
